@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Raleway, sans-serif;
    background-color:lightblue;
}

h1 {
    font-family: Righteous;
    text-align: center;
    letter-spacing: 10px;
    font-size: 110px;
}

h2 {
    font-family: Righteous;
    text-align: center;
    letter-spacing: 10px;
    font-size: 40px;
}

/*------- header*/

#header {
    width: 100%;
    height: 150px;
    background-color: red;
}

/*------- scorebar*/

#score-container {
    width: 50%;
    height: 80px;
    background-color: pink;
    margin-right: auto;
    margin-left: auto;
}

#score-bar {
    width: 100%;
    height: 50px;
    border: 0.2rem solid red;
    border-radius: 50px;
    overflow: hidden;
}



/*------- game area*/

#game-area {
    width: 100%;
    height: 500px;
    background-color: lightgreen;
}

#player-1-icon {
    margin: auto;
    float: left;
    margin-left: 20%;
    height: 400px;
    width: 400px;
    background: url('../images/ROCK.jpg');
    margin-top: 3%;
}

#player-2-icon {
    margin: auto;
    float: right;
    margin-right: 20%;
    height: 400px;
    width: 400px;
    background: url('../images/PAPER.jpg');
    margin-top: 3%;
}

/*------- select-area*/

#select-area {
    width: 50%;
    height: 100px;
    background-color: pink;
    margin-right: auto;
    margin-left: auto;
}

.icons {
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    margin-left: 12%;
    margin-right: 5%;
}

.icons h1 {
    font-size: 90px;
    text-align: center;
}